body {
  background-color: lightblue;
}

.weather-app {
  color: white;
  max-width: 80%;
  margin: 80px auto;
  padding: 50px;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
  font-family: "Fredoka", sans-serif;
}
